.icon {
    --icon-scale: 2;
    background: url(../images/new_Master_Icon.jpg);
    background-position: 0 0;
    background-size: calc(var(--icon-scale) * 512px), auto, cover;
    width: calc(var(--icon-scale) * 20px);
    height: calc(var(--icon-scale) * 28px);
}

.icon.durability-reduction-1 {
}

.icon.pvp-defence-rate-increase {
    background-position-x: calc(var(--icon-scale) * -20px);
}

.icon.maximum-sd-increase {
    background-position-x: calc(var(--icon-scale) * -40px);
}

.icon.auto-mana-recovery-increase {
    background-position-x: calc(var(--icon-scale) * -60px);
}

.icon.XXX-skull {
    background-position-x: calc(var(--icon-scale) * -80px);
}

.icon.durability-reduction-2 {
    background-position-x: calc(var(--icon-scale) * -100px);
}

.icon.sd-recovery-speed-increase {
    background-position-x: calc(var(--icon-scale) * -120px);
}

.icon.automatic-hp-recovery-increase {
    background-position-x: calc(var(--icon-scale) * -140px);
}

.icon.XXX-spark {
    background-position-x: calc(var(--icon-scale) * -160px);
}

.icon.defense-increase {
    background-position-x: calc(var(--icon-scale) * -180px);
}

.icon.automatic-ag-recovery-increase {
    background-position-x: calc(var(--icon-scale) * -200px);
}

.icon.XXX-crystal {
    background-position-x: calc(var(--icon-scale) * -220px);
}

.icon.durability-reduction-3 {
    background-position-x: calc(var(--icon-scale) * -240px);
}

.icon.defense-success-rate-increase {
    background-position-x: calc(var(--icon-scale) * -260px);
}

.icon.XXX-bless {
    background-position-x: calc(var(--icon-scale) * -280px);
}

.icon.armor-set-bonus-increase {
    background-position-x: calc(var(--icon-scale) * -300px);
}

.icon.vengeance {
    background-position-x: calc(var(--icon-scale) * -320px);
}

.icon.energy-increase {
    background-position-x: calc(var(--icon-scale) * -340px);
}

.icon.stamina-increase {
    background-position-x: calc(var(--icon-scale) * -360px);
}

.icon.agility-increase {
    background-position-x: calc(var(--icon-scale) * -380px);
}

.icon.strength-increase {
    background-position-x: calc(var(--icon-scale) * -400px);
}

.icon.XXX-wing-blue {
    background-position-x: calc(var(--icon-scale) * -420px);
}

.icon.XXX-wing-red {
    background-position-x: calc(var(--icon-scale) * -440px);
}

.icon.attack-success-rate-increase {
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.cyclone-strengthener {
    background-position-x: calc(var(--icon-scale) * -20px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.twisting-slash-strengthener {
    background-position-x: calc(var(--icon-scale) * -100px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.maximum-hp-increase {
    background-position-x: calc(var(--icon-scale) * -180px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.weapon-mastery {
    background-position-x: calc(var(--icon-scale) * -200px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.maximum-mana-increase {
    background-position-x: calc(var(--icon-scale) * -260px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.maximum-ag-increase {
    background-position-x: calc(var(--icon-scale) * -320px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.blood-storm {
    background-position-x: calc(var(--icon-scale) * -380px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.blood-storm-strengthener {
    background-position-x: calc(var(--icon-scale) * -420px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.attack-rate {
    background-position-x: calc(var(--icon-scale) * -440px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.two-handed-sword-strengthener {
    background-position-x: calc(var(--icon-scale) * -460px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.one-handed-sword-strengthener {
    background-position-x: calc(var(--icon-scale) * -480px);
    background-position-y: calc(var(--icon-scale) * -28px);
}

.icon.two-handed-sword-mastery {
    background-position-x: calc(var(--icon-scale) * -40px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.one-handed-sword-mastery {
    background-position-x: calc(var(--icon-scale) * -60px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.mana-reduction {
    background-position-x: calc(var(--icon-scale) * -140px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.monster-attack-sd-increment {
    background-position-x: calc(var(--icon-scale) * -160px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.monster-attack-life-increment {
    background-position-x: calc(var(--icon-scale) * -180px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.minimum-attack-power-increase {
    background-position-x: calc(var(--icon-scale) * -220px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.monster-attack-mana-increment {
    background-position-x: calc(var(--icon-scale) * -240px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.maximum-attack-power-increase {
    background-position-x: calc(var(--icon-scale) * -280px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.increases-critical-damage-rate {
    background-position-x: calc(var(--icon-scale) * -320px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.restores-all-mana {
    background-position-x: calc(var(--icon-scale) * -340px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.restores-all-hp {
    background-position-x: calc(var(--icon-scale) * -360px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.increases-excellent-damage-rate {
    background-position-x: calc(var(--icon-scale) * -380px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.increases-chance-of-ignore-def {
    background-position-x: calc(var(--icon-scale) * -420px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.restores-all-sd {
    background-position-x: calc(var(--icon-scale) * -440px);
    background-position-y: calc(var(--icon-scale) * -56px);
}

.icon.XXX-wing-green {
    background-position-x: calc(var(--icon-scale) * -40px);
    background-position-y: calc(var(--icon-scale) * -84px);
}

.icon.flame-strengthener {
    background-position-x: calc(var(--icon-scale) * -60px);
    background-position-y: calc(var(--icon-scale) * -84px);
}

.icon.lightning-strengthener {
    background-position-x: calc(var(--icon-scale) * -80px);
    background-position-y: calc(var(--icon-scale) * -84px);
}

.icon.evil-spirit-strengthener {
    background-position-x: calc(var(--icon-scale) * -200px);
    background-position-y: calc(var(--icon-scale) * -84px);
}

.icon.ice-strengthener {
    background-position-x: calc(var(--icon-scale) * -240px);
    background-position-y: calc(var(--icon-scale) * -84px);
}

.icon.ice-strengthener {
    background-position-x: calc(var(--icon-scale) * -280px);
    background-position-y: calc(var(--icon-scale) * -84px);
}

.icon.one-handed-staff-strengthener {
    background-position-x: calc(var(--icon-scale) * -440px);
    background-position-y: calc(var(--icon-scale) * -84px);
}

.icon.two-handed-staff-strengthener {
    background-position-x: calc(var(--icon-scale) * -460px);
    background-position-y: calc(var(--icon-scale) * -84px);
}

.icon.one-handed-staff-mastery {
    background-position-y: calc(var(--icon-scale) * -112px);
}

.icon.two-handed-staff-mastery {
    background-position-x: calc(var(--icon-scale) * -20px);
    background-position-y: calc(var(--icon-scale) * -112px);
}

.icon.minimum-wizardry-increase {
    background-position-x: calc(var(--icon-scale) * -100px);
    background-position-y: calc(var(--icon-scale) * -112px);
}

.icon.maximum-wizardry-increase {
    background-position-x: calc(var(--icon-scale) * -140px);
    background-position-y: calc(var(--icon-scale) * -112px);
}

.icon.magic-mastery {
    background-position-x: calc(var(--icon-scale) * -160px);
    background-position-y: calc(var(--icon-scale) * -112px);
}

.icon.power-slash-strengthener {
    background-position-x: calc(var(--icon-scale) * -140px);
    background-position-y: calc(var(--icon-scale) * -196px);
}

.icon.blast-strengthener {
    background-position-x: calc(var(--icon-scale) * -180px);
    background-position-y: calc(var(--icon-scale) * -196px);
}

.icon.inferno-strengthener {
    background-position-x: calc(var(--icon-scale) * -220px);
    background-position-y: calc(var(--icon-scale) * -196px);
}

.icon.fire-slash-strengthener {
    background-position-x: calc(var(--icon-scale) * -300px);
    background-position-y: calc(var(--icon-scale) * -196px);
}

.icon.flame-strike-strengthener {
    background-position-x: calc(var(--icon-scale) * -340px);
    background-position-y: calc(var(--icon-scale) * -196px);
}

.icon.fire-slash-mastery {
    background-position-x: calc(var(--icon-scale) * -360px);
    background-position-y: calc(var(--icon-scale) * -196px);
}

.icon.earth-prison {
    background-position-x: calc(var(--icon-scale) * -440px);
    background-position-y: calc(var(--icon-scale) * -196px);
}

.icon.gigantic-storm-strengthener {
    background-position-x: calc(var(--icon-scale) * -480px);
    background-position-y: calc(var(--icon-scale) * -196px);
}

.icon.earth-prison-strengthener {
    background-position-x: calc(var(--icon-scale) * -20px);
    background-position-y: calc(var(--icon-scale) * -224px);
}

.icon.elemental-def-increase {
    background-position-x: calc(var(--icon-scale) * -60px);
    background-position-y: calc(var(--icon-scale) * -308px);
}

.icon.protection-shield {
    background-position-x: calc(var(--icon-scale) * -460px);
    background-position-y: calc(var(--icon-scale) * -336px);
}

.icon.weapon-block {
    background-position-x: calc(var(--icon-scale) * -480px);
    background-position-y: calc(var(--icon-scale) * -336px);
}

.icon.shield-block {
    background-position-y: calc(var(--icon-scale) * -364px);
}

.icon.steel-armor {
    background-position-x: calc(var(--icon-scale) * -20px);
    background-position-y: calc(var(--icon-scale) * -364px);
}

.icon.absorb-life {
    background-position-x: calc(var(--icon-scale) * -60px);
    background-position-y: calc(var(--icon-scale) * -364px);
}

.icon.max-hp-boost {
    background-position-x: calc(var(--icon-scale) * -360px);
    background-position-y: calc(var(--icon-scale) * -476px);
}
